# Python
__pycache__/
.venv/

# UV
uv.lock

# Secrets
docker/secrets/
.envs/

# Alembic Migrations
migration/

# Linters
.mypy_cache/
.ruff_cache/
.githooks/

# Tests
tests/test.db

# Ollama
ollama/

# n8n
n8n/
